<div class="row">
  <center>
    <h1>MyGuess</h1>
  </center>
</div>
<h2>Instructions</h2>
  <h2>guess the answer of the question</h2>
<h2>Read the question and answer it</h2>

<div class="row">
  <div class="large-6 small-centered columns">
    <div class="panel callout radius">
      <h5>54 + 88 = ?</h5>
      <div class='row'>
        <div class='answer'>
          <div class="large-6 columns">
            <input type="text" placeholder="Your Answer">
          </div>
          <div class="large-6 columns">
            <a href="#" class="button round success">Submit</a>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>